body{
    background-color: rgb(246,246,246);
    text-align: center;
    height: fit-content;
}
@font-face {
    font-family: 'Harry Potter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
    }
.p1,.p2,.p3,h1{
    font-family:'Harry Potter Regular';font-weight:normal;
    text-align: center;
    font-size: large;
}
.p1{
    color:rgb(26,71,42);
}
.p2{
    color:rgb(42,98,61);
}
.p3{
    color:rgb(89, 206, 128);
}
