body{
    background-color:powderblue;
    /* angelasbg */
    /* background: #E1F8F5; */
    /* rujulsbg */
    /* background:#3dc7b5; */
    margin: 0px;
}
div{
    /* background-color: ivory; */
    background: #E1F8F5; 
}
h1{
    margin:0%;
}
.middle-container,.bottom-container{
    height:200px;
    width:200px;
}
.middle-container{
    background-color: red;
}
.bottom-container{
    background-color: green;
}
span{
    text-decoration: underline darkblue;    
}
